
{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Post the title -->
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
    </h2>

    <!-- Talks -->
    {% if post.collection == 'talks' %}
      <div class="talk_date"><i class="far fa-clock" aria-hidden="true"></i> {{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</div>
      <div class="talk_venue"><i class="far fa-map"></i> {{ post.venue }}, {{ post.location }}</div>

    <!-- Publications -->
    {% elsif post.collection == 'publications' %}
    <div class="talk_venue">
      {% if post.venue == 'In Prep' %}
        {{post.date | default: "1900-01-01" | date: "%Y" }}, In Prep
      {% else %}
        Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
      {% endif %}
    </div>

    <!-- Teaching -->
    {% elsif post.collection == 'teaching' %}
      <div class="small_grey">
        <i class="fas fa-university"></i> {{ post.university }}
        {% if post.semester %}
          | {{ post.semester }}
        {% endif %}
      </div>

    <!-- Code -->
    {% elsif post.collection == 'code' %}

    <!-- Other -->
    {% elsif post.date %}
      <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
    {% endif %}


    <!-- Print the excerpt -->
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>



  </article>
</div>
